
# see `README.md`
venv-clm-dehyph

# see Makefile: `make uncompress_data`
# contained in character_language_models.7z (obsolete?)
ngram_backward.model
ngram_forward.model
# contained in test_files/test_files.7z
test_files/1.press_hu_nem_007.txt
test_files/1.press_hu_nem_009.txt
test_files/2.press_hu_nem_004_1998.txt
test_files/2.press_hu_promenad_003_2010.txt
test_files/2.press_hu_promenad_003_2011.txt

# see Makefile: `make prepare`
# contained in 5-gram-backward.model.7z
5-gram-backward.model
# contained in 5-gram-forward.model.7z
5-gram-forward.model
# to be downloaded
7-gram-models.7z
# contained in 5-gram-models.7z
7-gram-backward.model
7-gram-forward.model
# to be downloaded
bilstm_model_1280.7z
# contained in bilstm_model_1280.7z
BiLSTM_Model_v0.2.0>w_30-30_lstm_1280_dense_1024_dropout_0.1>>2022-11-24_01.23.36.3_epoch.h5

# contained in dehyphenation/scripts/corpus_word_counts.pickle.7z
dehyphenation/scripts/corpus_word_counts.pickle
# downloaded
dehyphenation/scripts/hu_HU.aff
dehyphenation/scripts/hu_HU.dic

# intermediate eval files
dehyphenation/eval/*/*INFO
dehyphenation/eval/*/*anno
dehyphenation/eval/*/*eval_data
dehyphenation/eval/*/*gold
dehyphenation/eval/*/*input

*.swp
__pycache__

